*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face {
    font-family: fuenteAgregada;
    src: url(../styles/ARCADECLASSIC.TTF);
}
body{
    font-family: fuenteAgregada;
    background-image: url(../img/Fondo.webp);
    background-repeat: no-repeat;
}

#titleBar{
color: #fff;
font: 1em sans-serif;
font-size: large;
background-color: rgba(122, 205, 215, 0.71);
display: flex;
justify-content: space-between;
flex-direction: row;
}
#titleBar #title{
    -webkit-app-region: drag;
    width: 85%;
    cursor: pointer;
}
#btnAction button{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
#maximizeBtn{
    background-image: url("../img/Icons/maximize.png");
    background-size: contain;
}
#minimizeBtn{
    background-image: url("../img/Icons/minimize.png");
    background-size: contain;
}
#closeBtn{
    background-image: url("../img/Icons/close.png");
    background-size: contain;
}
#logo{
    color: #fff;
    text-align: center;
    margin-top: 40px;
    height: 40px;
    width: 100%
}
.insert-coin{
  position: absolute;
  height: 90px;
  color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite;
}


#slider-games{
    top: 80px;
    margin: auto;
    width: 300px;
    position: relative;
    border: solid #fff;
}
#slider-games .slider{
    display: flex;
}
#slider-games .slider .slider-img img{
    height: 100%;
    display: block;
    width: 100%;
}
.slider-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.slider-btn--right{
    right: 10px;
}