@font-face {
    font-family: fuenteAgregada;
    src: url(../styles/ARCADECLASSIC.TTF);
}


body {
    font-family: fuenteAgregada;
    background: url(../img/Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0mm;
}

.form {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background:  #ececf2 ;
    padding: 3px;
}
#registerlog_text{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    background: linear-gradient(hsl(320, 65%, 39%) ,#258fe2  );
    -webkit-background-clip: text;
    color: transparent;
    padding: 20px 0;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    font-family: fuenteAgregada;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient( #258fe2 ,#212068  );
      
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
    letter-spacing: 3px;
    padding: 10px 0;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
    background: linear-gradient(hsl(241, 53%, 27%) ,#258fe2  );
    -webkit-background-clip: text;
    color: transparent;
}

input {
    font-family: fuenteAgregada;
    
    
}


.link:hover{
     color: #258fe2  ;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  *::-webkit-scrollbar:vertical {
    width: 0px;
  }