<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/galagamenu.css">
    <link rel="stylesheet" href="../styles/styles-topbar.css">

    <title>Document</title>
</head>
<body>
    <script id="replace_with_navbar" src="../functions/nav.js"></script>
        <div id="logo">
            <h1>ARKADE</h1>
        </div>
    <div class="container-menus">
        <div>
            <h1 class="enter-menu">PRESS ENTER</h1>
            <a class="options-menu">REANUDAR</a>
            <a class="options-menu">REINICIAR</a>
            <a class="options-menu">OPCIONES</a>
            <a class="options-menu">INVENTARIO</a>
            <a class="options-menu">SALIR</a>
            
        </div>
    </div>
    
</body>
</html>