<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://games.virtual.es/css/MGVirtuaL1.0.0.css">
    <title>Document</title>
</head>
<body>
    <script src="https://games.virtual.es/js/MGVirtuaL1.0.0.js"></script>
    <script src="../functions/graph.js"></script>

    
    <script src="../functions/galaga.js"></script>
    <script src="../functions/ui.js"></script>
</body>
</html>