<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/principal-styles.css">
    <script defer src="../functions/index.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div id="titleBar">
            <div id="title">Arkade</div>
            <div id="btnAction">
                <button id="minimizeBtn"></button>
                <button id="maximizeBtn"></button>
                <button id="closeBtn"></button>
            </div>
        </div>
        <div id="logo">
            <h1>ARKADE</h1>
        </div>
    </header>

    <div id="slider-games">
        <div class="slider">
            <div class="slider-img">
                <img src="/src/img/donke kong.jpg" alt="">
            </div>
        </div>
        <div class="slider-btn slider-btn--right">&#62</div>
        <div class="slider-btn slider-btn--left">&#60</div>
    </div>

    
</body>
</html>