<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/principal-styles.css">
    <link rel="stylesheet" href="../styles/styles-topbar.css">

    <title>Document</title>
</head>
<body>
    <script id="replace_with_navbar" src="../functions/nav.js"></script>
        <div id="logo">
            <h1>ARKADE</h1>
        </div>
    <div class="container-menu">
        <ul>
            <h1 class="enter">PRESS ENTER</h1>
            <li class="title-games">SNAKE</li>
            <li class="title-games">DONKEY KONG</li>
            <li class="title-games">TIENDA</li>
        </ul>
    </div>
    
</body>
</html>