<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/tienda.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="logo">
            ARKADE
        </div>
        <div class="container-tienda">
            <li class="pociones"><img class="img1" src="../img/manzana.png" alt="">Pocion 1 <button>+</button></li>
            <li class="pociones"><img class="img2" src="../img/pocion1.png" alt="">Pocion 2 <button>+</button></li>
            <li class="pociones"><img class="img3" src="../img/pocion2.png" alt="">Pocion 3 <button>+</button></li>
            <li class="pociones"><img class="img4" src="../img/manzanad.png" alt="">Pocion 4 <button>+</button></li>
            <li class="pociones"><img class="img5" src="../img/pocion3.png" alt="">Pocion 5 <button>+</button></li>
        </div>
    </div>
</body>
</html>