 .App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.letter-container{
  padding: 10px;
  text-align: center;
}

.letter{
  color: aqua;
  animation: letter-shadow infinite 2.5 linear;
}

.delay0{
  animation-delay: 0.5s;
}
.delay1{
  animation-delay: 1s;
}.delay2{
  animation-delay: 1.5s;
}.delay3{
  animation-delay: 2s;
}.delay4{
  animation-delay: 2.5s;
}

@keyframes letter-shadow {
  from{
    text-shadow: 2px 2px 25px magenta;
  }

  20% {
    text-shadow: 2px 2px 25px blue;
  } 
  
  40% {
    text-shadow: 2px 2px 25px green;
  }

  60% {
    text-shadow: 2px 2px 25px magenta;
  }

  80% {
    text-shadow: 2px 2px 25px turquoise;
  }

  to {
    text-shadow: 2px 2px 25px magenta;
  }
}